* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  /* background-color: rgb(5, 106, 189); */
  background-color: #121212;
}

.gallery {
  position: relative;
  /* width: 100%; */
  min-height: 100vh;
  max-width: 90%;
  background-color: #121212;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.btn {
  background-color: #121212;
  color: #fff;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.prev {
  position: absolute;
  left: -15px;
}

.next {
  position: absolute;
  right: -15px;
}

.gallery img {
  max-width: 90%;
  max-height: 100vh;
  border-radius: 10px;
}
